@media screen and (max-width: 400px) {
    .nav-container{

        flex-direction: column;

    }

    .nav-text-container{
       flex-direction: column;

    }
    .banner-section{
        flex-direction: column-reverse;
        height: 100%;
        margin-top: 40px;
   
    }
    .optional-section{
        flex-direction: column-reverse;

    }
    .optional-img,.optional-text{
        width: 50%;
    }
    .games-section{
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
    }
    .games-banner-img{
        flex-direction: column;

    }
    .instantly-section{
        flex-direction: column;
        height: 100%;
    }
}