*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #4EC5F7;
    margin-top: 20px;
}
    
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo-container h3{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.nav-style{
       color: lightslategray;
}
.logo-container img{
    width: 86.041px;
    height: 40px;
}
.nav-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.nav-text-container a{
    margin-right: 50px;
    text-decoration: none;
    display: flex;
    font-size: 18px;
    color: #3C354F;
}
.follow-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    font-weight: 700px;
}
/************** nav section done  **************/

/************* play like banner section start now  *************/

.banner-section{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(./images/Group\ 14.png);
}
.banner-text h2{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.banner-text h3{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
    font-family: Work Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}
.banner-text p{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}
.btn-primary{
    padding: 15px 30px;
    border-radius: 48px;
    background: #FF42A5 100%;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 20px;
}
.btn-danger{
    padding: 15px 30px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFFFFF;
    font-size: 20px;
}
.banner-img img{
     width: 100%;
     height: 600px;
}

/************* play like banner section end  *************/
/*********** We are gamer optional section start now *********/
.optonal-section{
    width: 1920px;
    height: 600px;
     background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.optional-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.optional-text h2{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.optional-text p{
    width: 520px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.optional-btn-text{
    text-align: right;
}
.optional-btn-text h4{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
}
.optional-btn-text h3{
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}
/*********** We are gamer optional section end *********/

/********** Online Games Funny Videos start now **********/
.games-section{
    margin-top: 100px;
    width: 100%;
    height: 600px;
}
.games-section h2{
    text-align: center;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.games-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.games-section p{
    text-align: center;  
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.games-banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px;
}

.gamer-img p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    width: 342px;
}
/********** Online Games Funny Videos end **************/

/************** Play Instantly section start now **********/
.instantly-section {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
}
.instantly-text h2{
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    width: 300px;
}
.instantly-text p{
    width: 300px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}
.instantly-img{
    width: 50%;
    height: 650px;
} 
.profile-img{
    position: relative;
    bottom: 200px;
   padding-right: 50px;
   width: 318.5px;
   height: 365.083px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   bottom: 300px;
   right: 100px;

} 
/*********** Play Instantly section end **********/


/********* button section start now  **********/
.button-section{
     width: 100%;
     height: 430px;
}
.box-btn{
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.box-btn :hover{
    background-color: #4EC5F7;
    color: red;
    border: 2px solid goldenrod;
    border-radius: 50px;
    padding: 10px 50px;
}
.box-btn p{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.button-container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
    /* grid-template-rows: repeat(4,1fr); */

}
/********** button section end  *********/

/********** footer section start now ***********/
footer{
    width: 100%;
    height: 636px;
    background: #0B0223;
    color: #FFFFFF;
    padding: 100px;
}
.logo-footer{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.logo-footer h3{
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.text-footer > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    gap: 40px;
}
.text-footer li{
    list-style: none;
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.footer-icon{
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.last-footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.last-footer-text > ul {
    display: flex;
    gap: 40px;
}
.last-footer-text li{
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.logo-footer p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}
/********** footer section end  ***********/